body{
    background-color: cyan;
    margin:0;
}

nav{
    background-color: #e9ffff;
    height:50px;
    display: flex;
    justify-content: flex-start;
    align-items: center;
}

nav a{
    text-decoration: none;
    color: #08a4a7;
    padding: 0px 10px;
    height:100%;
    display: flex;
    align-items:center;
}

nav a:hover{
    background-color: #08a4a7;
    color: #e9ffff;
}

.main-container{
    margin: 20px 60px;

}


