body{
    background-color: lightsteelblue;
}

a{
    text-decoration: none;
    color: gray;
}

.inline-content{
    display: inline-block;
}

#welcome-text{
    position: relative;
    bottom: 100px;
}
.main-container{
    background-color: ghostwhite;
    width: 60%;
    margin: auto;
    padding: 50px;
    height: 3000px;
    margin-top: 30px;
}

#hobbies-list{
    list-style-type: none;
}

/*.chocolate p:nth-of-type(2) {*/
/*    color: blue;*/
/*}*/

.chocolate p:not(.dont-touch-me){
    color:blue;
}

#chat-button{
    font-weight: bold;
    font-size: 20px;
    position: fixed;
    bottom: 100px;
    left: 90%;
    background-color: black;
    color: ghostwhite;
    border: none;
    height: 60px;
    width: 60px;
    border-radius: 50%;
}

#chat-button:hover{
    background-color: ghostwhite;
    color: black;
    cursor: pointer;
}

#koalas-box{
    background-color: purple;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
}

#koalas-box img{
    width: 100px;
    height:50px;
}









